<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excelsecu.cmsystem.mapper.UserMapper">

    <select id="quereyList" resultType="com.excelsecu.cmsystem.entity.UserRole">
        select *
        from user_role AS UROLE
        join role AS ROLE on UROLE.role_id = ROLE.id
        where
        <if test="1 == type">
            ROLE.name like "%"#{name}"%"
        </if>
        and ROLE.deleted = 0
        and UROLE.deleted = 0
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="queryListSize" resultType="Long">
        select count(*)
        from user_role AS UROLE
        join role AS ROLE on UROLE.role_id = ROLE.id
        where
        <if test="1 == type">
            ROLE.name like "%"#{name}"%"
        </if>
        and ROLE.deleted = 0
        and UROLE.deleted = 0
    </select>

</mapper>
